@media all and (max-width: 1280px) {
    #course-content {
        .bottom {
            .right {
                .card-gallery {
                    grid-template-columns: repeat(2, 1fr);
                }
                .selected-countries{
                    p{
                        width: 15%;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 980px) {
    #course-content {
        .bottom {
            .right {
                .card-gallery {
                    grid-template-columns: repeat(1, 1fr);
                }
                .selected-countries{
                    p{
                        width: 25%;
                    }
                }
            }
        }
    }
}
